<%= form_for @booking do |f| %>
  <%= f.label :user_id %>
  <%= f.number_field :user_id %>
  <br>
  <%= f.label :show_id %>
  <%= f.number_field :show_id %>
  <br>
  <div>
    <%= f.label :ticket %>
    <%= f.number_field :ticket%>
  </div>

  <%= f.submit "create booking" %>
<% end %>