<%= form_for [@show, @booking] do |f| %>

  <div>
    <%= f.label :ticket %>
    <%= f.number_field :ticket%>
    <%= f.hidden_field :show_id, value: @show.id%>
  </div>
  <br>
  <%= f.submit "create booking" %>
<% end %>