<main class="container">
  <div class="headline">
  <div>
    <p><%= @booking.user.name %> has <%= @booking.ticket %> ticket(s) for:<p>
  </div>
    <h1><%= @booking.show.name %></h1>
  </div>
  <section class="row">
    <div class="grid grid-6">
     <div>
     <%= link_to( image_tag(@booking.show.image, alt:"No image", class: "show-img"), show_path(@booking.show)) %>
      </div>
      <br>
      <%= pluralize(@show.votes.count, "vote") %>
      <%= button_to '+1', upvote_booking_path, method: :post %>
      <%= button_to '-1', downvote_booking_path, method: :post %>
      <br>
    </div>
    <br><br>
  <div>
    <% %>
  </div>
</section>
</main>
<br><br>
<% if can? :manage, :all %> 
<div>
<%= button_to('Edit Booking', edit_booking_path(@booking), method: :get) %>
<%= button_to("Delete?", booking_path(@booking), method: :delete, data: {confirm: 'Delete booking? Are you sure?!'}) %>
<% end %>
</div>