<main class="container">
  <div class="headline">
    <h1><%= @venue.name%></h1>
  </div>
  <section class="row">
      <div class="grid grid-6">
       <div>
        <%= image_tag(@venue.image, alt:"No image") %>
      </div>
    </div>
    <br><br>
  <div>
   <%= @venue.description %>
  </div>
</section>
</main>
<br><br>
<% if can? :create, Venue %> 
<div>
<%= button_to('Edit Venue', edit_venue_path(@venue), method: :get) %>
<%= button_to("Delete #{@venue.name} ?", venue_path(@venue), method: :delete, data: {confirm: 'Delete venue? Are you sure?!'}) %>
<% end %>
</div>