<div>
  <h1 class="title"><%= @venue.name%></h1>
</div>
<div>
  <%= image_tag(@venue.image, alt:"No image") %>
</div>
<div>
  <%= @venue.description %>
</div>
<%= button_to('Edit Venue', edit_venue_path(@venue), method: :get) %>
<%= button_to("Delete #{@venue.name} ?", venue_path(@venue), method: :delete, data: {confirm: 'Delete venue? Are you sure?!'}) %>