<main class="container">
  <div class="headline">
    <h1><%= @performer.name%></h1>
  </div>
  <section class="row">
    <div class="grid grid-6">
     <div>
      <%= image_tag(@performer.image, alt:"No image") %>
      </div>
    </div>
  <div>
    <%= @performer.description %>
  </div>
</section>
</main>
<br><br>
<% if can? :create, Performer %> 
<div>
<%= button_to('Edit Performer', edit_performer_path(@performer), method: :get) %>
<%= button_to("Delete #{@performer.name} ?", performer_path(@performer), method: :delete, data: {confirm: 'Delete performer? Are you sure?!'}) %>
<% end %>
</div>
<br><br>