<%= form_for @show do |f| %>

<div>
  <%= f.label :name %><br>
  <%= f.text_field :name %>
</div>
<br>
<div>
  <%= f.label :image %><br>
  <%= f.text_field :image%>
</div>
<br>
<div>
  <%= f.label :description %><br>
  <%= f.text_area :description %>
</div>
<br>
<div>
<% counter = 1 %>
<% 4.times do %>
  <%= f.fields_for :performerships do |builder| %>
    <p>
      <%= builder.label :performer_id, "Comedian" %><br>
      <%= builder.select "performer_id#{counter}", Performer.all.collect {|p| [p.name, p.id] }, :prompt => "Please select" %> 
    </p>
    <% counter += counter %>
  <% end %>
  <% end %>

</div>

<br>
<div>
  <%= f.label :venue_id %><br>
  <%= f.select :venue_id, Venue.all.map {|v| [v.name, v.id] } %>
</div>
<br>
<div>
<%= f.label :start_time %><br>
<%= f.datetime_select :start_time %>
</div>
<br>
<div>
<%= f.label :end_time %><br>
<%= f.datetime_select :end_time %>
</div>
<br>
<div>
  <%= f.label :capacity %><br>
  <%= f.number_field :capacity%>
</div>
<br>
<div>
  <%= f.submit %>
</div>
<% end %>
