<div>
  <% if @show.venue %>
    <h1 class="title"><%= @show.name %></h1>
</div>
<div>
  <%= @show.venue.name%>
    <% else %>
  <p>no venue</p>
    <% end %>
</div>
<div>
  <%= image_tag(@show.image, alt:"No image") %>
</div>

<div>
  <%= @show.description %>
</div>
<div>
  <% if @show.performer %>
  <%= @show.performer.name%>
    <% else %>
  <p>no performer</p>
    <% end %>
</div>
<div>
  <%= @show.human_readable_start_date %>
</div>
<div>
  <%= @show.human_readable_start_time %> - <%= @show.human_readable_end_time %>
</div>
<div>
  <%= @show.capacity %>
</div>

<%= button_to('Book Show', new_show_booking_path(@show), method: :get) %>

<br><br>
<% if can? :create, Show %> 
<div>
<%= button_to('Edit Show', edit_show_path(@show), method: :get) %>
<%= button_to("Delete #{@show.name} ?", show_path(@show), method: :delete, data: {confirm: 'Delete show? Are you sure?!'}) %>
<% end %>
</div>