<!DOCTYPE html>
<html>
<head>
  <title>ComedyFestivalApp</title>
  <%= stylesheet_link_tag    'normalize', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <%= image_tag("header.png", alt:"No image", class: "header-img") %>
    <nav>
      <div class="go-left">
        <div class="logo">
          <%= link_to(image_tag("logo.png"), shows_path) %>
        </div>
      </div>

      <div class="go-right">
        <ul>    
        <li><%= link_to('Performers', performers_path) %></li>      
        <li><%= link_to('Venues', venues_path) %></li>
        <li><%= link_to('Bookings', bookings_path) %></li>  
        </ul>
    </div>
  </nav>    
</header>

<section class="main">

<div class="login">
  <% if current_user %>
  <%= current_user.name %> | 
  <%= link_to 'Profile', user_path(current_user) %> | 
  <%= link_to 'Log Out', destroy_user_session_path, method: :delete %>
  <% else %>
  <%= link_to 'Sign In', new_user_session_path %> | 
  <%= link_to 'Register', new_user_registration_path %>
  <% end %>
</div>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

</section>

<footer>
  <h2>Edinburgh Funny Fest Society</h2>
  <p>316 Gimmick Street</p>
  <p>Edinburgh EH1 1QS</p>
  <p>United Kingdom</p>

  <p>+44 (0)131 226 0026</p>
  <p>&copy; 2016 Nick Riddell.</p>
</footer>

</body>
</html>
