<!DOCTYPE html>
<html>
<head>
  <title>ComedyFestivalApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<header>
  <nav>
    <div class="go-left">
    <div class="logo">
      <%= link_to('Shows', shows_path) %>
    </div>
    </div>
    <div class="go-right">
      <ul>
      <li><%= link_to('Bookings', bookings_path) %></li>      
      <li><%= link_to('Performers', performers_path) %></li>      
      <li><%= link_to('Venues', venues_path) %></li>
      </ul>
  </nav>
</header>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<div class='login'>
  <% if current_user %>
  <%= current_user.name %><%= ", #{current_user.role.capitalize}" if current_user.role %>
  <%= link_to "Log out", destroy_user_session_path, method: :delete %>
  <% else %>
  <%= link_to "Sign In", new_user_session_path %>
  <%= link_to "Register", new_user_registration_path %>
  <% end %>
</div>

<%= yield %>

</body>
</html>
